@import '~bootstrap/less/bootstrap.less';

:local(.sidepanelstyle) {
  position: fixed;
  height: 100%;
  width: 24%;
  overflow-y: auto;
  background: whitesmoke;
  // background: black;
}

:local(.panelstyle){
  background: whitesmoke;
  // background: black;
  border: none;
}

:local(.buttonstyle){
  font-weight: bold;
  font-size: 20px;
}

:local(.dusbinstyle){
  // background: lightgrey;
  background: honeydew;
}

:local(.dusbinstyleover){
  background: whitesmoke;
}

#delete-button:hover{
    color: #B22222;
}
